
body {
    background: rgb(39, 39, 49);
    font-family: 'Times New Roman', Times, serif;
}

.Assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: lightsteelblue;
    border-radius: 20px;
}

.Assignment img {
    width: 200px;
    margin: 10px;
    border: 5px solid darkblue;
}

.Assignment img:hover {
    border: 5px solid white;
}
h1 {
    color: white;
    text-align: center;
}
a {
    text-decoration: none;
    color: darkblue;
}
a:hover {
    color: white;
}
